"/log/access-{{getenv "RANCHER_SERVICE_INDEX"}}.log" /log/error-{{getenv "RANCHER_SERVICE_INDEX"}}.log {
  rotate 365
  daily
  postrotate
    [ ! -f /host/run/nginx.pid ] || kill -USR1 `cat /host/run/nginx.pid`
  endscript
  nocompress
}
