"/var/log/nginx/access-{{getenv "MY_POD_NAME"}}.log" /var/log/nginx/error-{{getenv "MY_POD_NAME"}}.log {
  rotate 365
  daily
  postrotate
    [ ! -f /run/nginx.pid ] || kill -USR1 `cat /run/nginx.pid`
  endscript
  nocompress
}
